@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0; 
}
h1,h2,h3,h4,h5,h6{
  /* font-family: "Crimson Text"; */
}

p{
  /* font-family: "Hanken Grotesk"; */
}
.custom-phone-input input{
  background-color: #E9F2FA;
  color: #525252;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid #E2E2E3;
  outline: none;
  padding: 8px;
}/* CSS or Tailwind-style override */
.custom-phone-input .PhoneInputCountryIcon {
  display: none;
}

.custom-country-select {
  background-color: #bdd9f5; /* light blue */
  border: none;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 1rem;
  color: #333;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg fill='black' height='18' viewBox='0 0 24 24' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
